/* The following 38 lines of code are adapted from https://www.youtube.com/watch?v=fs923Mu5EXY, accessed: 2022-11-22 */
.hero {
    grid-area: hero;
    width: 100%;
    height: 100vh;
    background: url(./img/Smoky.JPG) no-repeat center / cover;
   /*  The animation is not part of the cite above */
   position: relative;
}

.animation {
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s; 
}

@keyframes slidein {
    from {
       transform: translateY(200px)
    }

    to {
        transform: translateY(0)
    }
}

.animation2 {
    animation-name: changeColour;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 8s;
}

@keyframes changeColour {
    0% {
        background-color: rgb(245, 245, 245);
        color: darkseagreen;
    }
    25% {
        background-color: darkseagreen;
        color:rgb(245, 245, 245);
    }
    50% {
        background-color: rgb(245, 245, 245);
        color: darkseagreen;
    }
    75% {
        background-color: darkseagreen;
        color:rgb(245, 245, 245);
    }
    100% {
        background-color: rgb(245, 245, 245);
        color: darkseagreen;
    }
}


.hero-container {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline-hero {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.text-hero {
    font-size: 1.5rem;
    max-width: 65%;
    margin-bottom: 1rem;
}


.button {
    background-color:rgba(245, 245, 245, 0.884);
    border: none;
    color: darkseagreen;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}


.profile {
    width: 50%;
    height: auto;
}
/* .lonney-gif{
    float: right;
    position: absolute;
    right: 8px;
    top: 530px;
} */
/* .more {
    padding-top: 20px;
    padding-bottom: 50px;
} */


h1, h2, p, footer {
    padding-left: 5px;
}

/* .ending {
    margin-top: 30px;
} */
/* .middle-text {
    padding-top: 20px;
} */

/* .round{
    min-width: 20vh;
    width: 18rem;
    height: 25rem;
    object-fit: cover;
} */

img{
    border-radius: 15px;
    padding: 10px; 
    width: 100%;
    height: auto;  
}

h2 {
    color: #1d5911; 
}
footer, h1 {
    background-color: #1d5911;
    color: #ffffff
}
.drink {
    right: 8px;
    top: 450px;
}

.blue {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

/* .cheese{
    display: flex;
    flex-direction: row;
    gap: 20px;
} */
.group{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.picture {
    right: 8px;
    top: 80px;
    position: absolute;
}

.honey{
    float: right;
}

.my-honey{
    width: 50%;
    height: auto;
}

.my-pic{
    width: 30%;
    height: auto;
}

.profile-pic{
    width: 40%;
    height: auto;
}
